In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
import numpy as np

In [3]:
MyData=pd.read_csv('../Data/train20171001.csv')

In [4]:
MyData.head(10)

,O_LINENO,O_TERMINALNO,O_TIME,O_LONGITUDE,O_LATITUDE,O_SPEED,O_MIDDOOR,O_REARDOOR,O_FRONTDOOR,O_UP,O_RUN,O_NEXTSTATIONNO
0,671,911410,06:37:05,117.178,39.1618,0,1,0,0,0,0,2
1,671,911410,06:37:27,117.178,39.1618,0,1,0,0,0,0,2
2,671,911410,06:37:38,117.178,39.1618,0,1,0,0,0,0,2
3,671,911410,06:37:48,117.178,39.1618,0,1,0,0,0,0,2
4,671,911410,06:37:58,117.178,39.1618,0,1,0,0,0,0,2
5,671,911410,06:38:08,117.178,39.1618,0,1,0,0,0,0,2
6,671,911410,06:38:18,117.178,39.1618,0,1,0,0,0,0,2
7,671,911410,06:38:28,117.178,39.1618,0,1,0,0,0,0,2
8,671,911410,06:38:38,117.178,39.1618,0,1,0,0,0,0,2
9,671,911410,06:38:48,117.178,39.1618,0,1,0,0,0,0,2

In [5]:
col_keep=['O_LINENO','O_TERMINALNO','O_TIME','O_UP','O_RUN','O_NEXTSTATIONNO']
data=MyData.loc[:,col_keep]

In [6]:
data.head(10)

   O_LINENO  O_TERMINALNO    O_TIME  O_UP  O_RUN  O_NEXTSTATIONNO
0       671        911410  06:37:05     0      0                2
1       671        911410  06:37:27     0      0                2
2       671        911410  06:37:38     0      0                2
3       671        911410  06:37:48     0      0                2
4       671        911410  06:37:58     0      0                2
5       671        911410  06:38:08     0      0                2
6       671        911410  06:38:18     0      0                2
7       671        911410  06:38:28     0      0                2
8       671        911410  06:38:38     0      0                2
9       671        911410  06:38:48     0      0                2

In [7]:
data1=data[data.O_RUN==1]

In [8]:
data.shape

(24276838, 6)

In [9]:
data1.shape

(20133853, 6)

In [10]:
data2=data[data.O_RUN==0]
data2.shape

(4142985, 6)

In [11]:
len(data2)/len(data1)

0.20577208942570505

In [19]:
data1.head(10)

    O_LINENO  O_TERMINALNO    O_TIME  O_UP  O_RUN  O_NEXTSTATIONNO
12       804        911536  06:01:44     0      1               22
14        12        901791  06:01:44     1      1               14
15       608        903876  06:01:43     1      1               17
17       563        907020  06:01:44     0      1                3
18       802        902028  06:01:41     1      1                2
20        12        901794  06:01:43     1      1                2
21       746        905257  06:01:42     0      1               14
23       733        911431  06:01:45     0      1                2
25       572        903038  06:01:44     0      1               25
26       902        905381  06:01:42     1      1               25

In [12]:
data= data.sort_values(by='O_TIME',ascending=False)

In [22]:
#data.groupby(['O_LINENO'])['O_TERMINALNO'].count()
data1_Time= data1.groupby(['O_LINENO', 'O_TERMINALNO', 'O_NEXTSTATIONNO'])['O_TIME'].count()
data1_Time.head(10)

O_LINENO  O_TERMINALNO  O_NEXTSTATIONNO
1         901530        2                   93
                        3                   96
                        4                   85
                        5                  158
                        6                  186
                        7                  115
                        8                   54
                        9                  122
                        10                 110
                        11                  84
Name: O_TIME, dtype: int64

In [31]:
data1_M=data1.groupby(['O_LINENO', 'O_TERMINALNO','O_UP'])['O_NEXTSTATIONNO'].unique()

In [32]:
data1_M.head(20)

O_LINENO  O_TERMINALNO  O_UP
1         901530        0       [2, 3, 5, 4, 7, 6, 8, 11, 10, 9, 12, 13, 15, 1...
                        1       [30, 2, 5, 4, 7, 6, 8, 9, 10, 11, 12, 13, 14, ...
          902731        0       [2, 3, 4, 9, 8, 10, 5, 6, 7, 16, 15, 11, 12, 1...
                        1       [30, 5, 6, 4, 2, 13, 12, 11, 7, 8, 10, 9, 18, ...
          902732        0       [3, 4, 2, 7, 8, 9, 5, 6, 15, 14, 16, 10, 12, 1...
                        1       [30, 8, 9, 7, 10, 5, 6, 4, 2, 17, 18, 13, 11, ...
          902733        0       [31, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...
                        1       [5, 4, 2, 8, 7, 9, 6, 11, 10, 13, 14, 12, 15, ...
          902734        0       [8, 7, 3, 4, 2, 6, 5, 16, 15, 9, 10, 14, 13, 1...
                        1       [4, 5, 6, 7, 9, 8, 10, 12, 11, 13, 14, 15, 17,...
          902736        0       [31, 2, 5, 3, 4, 12, 11, 10, 6, 9, 7, 8, 17, 1...
                        1       [12, 13, 11, 10, 2, 4, 5, 9, 8, 6, 7, 18, 14, ...
          902737        0       [31, 30, 3, 4, 2, 11, 9, 10, 5, 7, 8, 6, 15, 1...
                        1       [2, 4, 5, 6, 7, 10, 9, 8, 12, 11, 13, 14, 15, ...
          902738        0       [31, 3, 2, 9, 7, 8, 5, 4, 6, 15, 16, 11, 10, 1...
                        1       [2, 5, 4, 6, 7, 10, 9, 8, 11, 12, 13, 14, 15, ...
          902745        0       [2, 3, 4, 5, 6, 7, 8, 9, 11, 10, 12, 13, 14, 1...
                        1       [5, 9, 8, 7, 6, 10, 11, 12, 13, 15, 14, 16, 17...
          902746        0       [2, 4, 3, 5, 6, 9, 8, 7, 10, 12, 11, 13, 14, 1...
                        1       [13, 14, 12, 17, 15, 16, 19, 18, 22, 21, 20, 2...
Name: O_NEXTSTATIONNO, dtype: object

In [33]:
data1['O_LINENO'].value_counts()

826      299916
808      267478
652      212767
688      193105
570      182285
462      173022
912      172081
856      169520
906      169107
629      167974
800      162534
563      162431
186      146299
859      138605
867      136945
855      135159
619      132784
911      132766
628      132626
850      125722
686      121383
872      121358
1        120603
676      117826
961      117464
185      117293
673      113849
665      113308
832      112032
208      110962
          ...
584        3369
479        3235
202        3023
306        3017
453        2717
338        2664
567        2613
6201       2449
41007      2408
4011       2225
534        2121
368        1794
311        1786
729        1494
55052      1460
5094       1133
4203       1056
305         777
747         767
217         579
334         369
55051       253
55002        69
152          67
172          42
55010         7
55015         2
464           2
313           2
811           1
Name: O_LINENO, Length: 422, dtype: int64

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing

In [37]:
YM=data1.O_LINENO

In [38]:
y_enc = preprocessing.LabelEncoder()
y_enc.fit(YM.astype(str))
YM_New=y_enc.transform(YM.astype(str))

In [39]:
YM_New

array([343,   3, 207, ..., 130, 130, 130])

In [40]:
YM_New.shape

(20133853,)

In [41]:
YM.shape

(20133853,)