In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Data/pre_result_decsion31.csv',names=['time'])

In [3]:
data.head()

         time
0  302.763744
1  116.296936
2  323.912351
3  174.946718
4  157.079165

In [4]:
predict=pd.read_csv('Data/toBePredicted_forUser.csv')
station_series=[]
for i in range(len(predict)):
    m=predict['pred_start_stop_ID'].loc[i]
    n=predict['pred_end_stop_ID'].loc[i]+1
    i_series=[]
    for j in range(m,n):
#          predict.iloc[i,'M%d'%j]=j
          i_series.append(j)
    station_series.append(i_series)
    
predict['Middle_station']=station_series
predict.head()
predict.Middle_station.loc[1]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
col_selection=['O_DATA','O_LINENO','O_TERMINALNO','predHour','pred_start_stop_ID','pred_end_stop_ID']
pre_data=predict.loc[:,col_selection]

In [6]:
pre_data.head()

,O_DATA,O_LINENO,O_TERMINALNO,predHour,pred_start_stop_ID,pred_end_stop_ID
0,10-28,678,904388,14:00:00,12,33
1,10-26,13,902540,17:00:00,7,19
2,10-27,711,906948,13:00:00,12,44
3,10-28,912,907336,12:00:00,8,31
4,10-28,746,905258,8:00:00,5,13

In [7]:
flag_t=0
Timestamps_series=[]
for i in range(len(pre_data)):
    m=predict['pred_start_stop_ID'].loc[i]
    n=predict['pred_end_stop_ID'].loc[i]+1
    i_series=[]
    sum_time=0
    for j in range(m,n):
#          predict.iloc[i,'M%d'%j]=j
          sum_time=sum_time+data['time'].values[flag_t]
          i_series.append(sum_time)
          flag_t=flag_t+1
    Timestamps_series.append(i_series)
    
pre_data['TimeStamps']=Timestamps_series

In [8]:
pre_data['TimeStamps'].loc[1]

[83.46180320182776,
 148.67429215416257,
 284.71874236272834,
 353.2839934713463,
 461.61677804207426,
 652.8629772596892,
 747.5077903912926,
 805.8308959014993,
 878.549309520666,
 1036.2716194494706,
 1084.7707647863886,
 1180.8020309440644,
 1347.7584985793185]

In [9]:
pre_data.to_csv('Data/result_xgboost2.csv')

In [10]:
import csv
def createListCSV(fileName="", dataList=[]):

    with open(fileName, "w",newline='') as csvFile:
        csvWriter = csv.writer(csvFile,delimiter=';')
        for data in dataList:
            csvWriter.writerow(data)
    csvFile.close

createListCSV("Data/test.csv", pre_data['TimeStamps'])

In [11]:
data_time=pd.read_csv('Data/test.csv',names=['pred_timeStamps'])

In [12]:
data_time.shape

(31701, 1)

In [13]:
data_time.set_index

<bound method DataFrame.set_index of                                          pred_timeStamps
0      302.76374360768995;419.06067955965005;742.9730...
1      83.46180320182776;148.67429215416257;284.71874...
2      78.63895725514284;130.44537422268039;231.96628...
3      134.19233154110748;262.8169346256128;490.50765...
4      75.76973202463266;281.0814847087463;467.156313...
5      174.3260446493077;287.00915380443485;447.02657...
6      114.94285714285714;273.53544973544973;363.6708...
7      134.79836127551724;233.00103666655423;367.7993...
8      89.65818082033155;157.13906610000487;248.70605...
9      83.04155425894557;581.3748875922788;641.276928...
10     157.9704115126125;210.28939828721255;327.88468...
11     50.40174644654149;204.91684799793506;267.62992...
12     68.61570323992851;240.83553439476384;436.14799...
13     50.59015278827161;109.84571903519819;179.01001...
14     180.5886468463856;306.15954519232525;491.65657...
15     51.43249362638121;208.48957397715762;265.14172...
16     113.56668839809416;218.91943965024237;301.4194...
17     148.19814792172468;201.60183933394052;272.7228...
18     66.69589241062884;145.58564721180767;207.70369...
19     48.35318615914454;196.27122955177379;244.24269...
20     67.6507839766917;137.84165723333038;330.507080...
21     80.45208071327023;282.26520856886833;431.19724...
22     143.4281354807214;283.4613879312935;428.825189...
23     41.169420194420645;108.3766183781373;190.04218...
24     50.85695572769066;104.0117891586562;139.986447...
25     159.19011143427474;242.9625958304958;245.15178...
26     88.48218795731646;163.4815429455968;261.415707...
27     204.8454848393781;336.0937008567497;452.362671...
28     91.29122214434578;163.7493516322334;378.417422...
29     138.7470432838854;355.0213175581597;1182.42086...
...                                                  ...
31671  44.65513246957457;115.00902657937846;199.97976...
31672  59.019111110129096;125.34566505986618;191.5336...
31673  61.846306471306455;146.3859806518374;266.85650...
31674  169.77697822923827;284.14985261579034;342.2820...
31675  117.16709802380409;310.54596592197805;467.5989...
31676  102.79192520239641;161.50719367150077;294.4736...
31677  75.84937870832614;220.5748817000897;457.954318...
31678  41.2410848557515;135.384374024769;313.74295062...
31679  42.38809684459083;103.38490397630346;180.27115...
31680  152.74479949981904;260.9714743382837;326.99456...
31681  218.57567853156232;505.4668590523868;578.49833...
31682  79.90255753737921;154.35067952044807;246.36451...
31683  72.42607048678168;178.12990832026904;261.47649...
31684  98.6451549304372;239.6539599409531;315.6433203...
31685  90.84900905410036;194.39775045116806;262.20872...
31686  269.3055680358308;458.2226329105938;737.244396...
31687  171.07391547247522;311.0880753445528;405.43541...
31688  100.38340058076349;256.3999556497901;317.23477...
31689  143.16071710893974;319.45436130061165;495.9463...
31690  56.375526008498824;123.43359419921241;268.2129...
31691  147.96145253575753;302.91164405368465;434.8418...
31692  149.01413121941022;337.9991668784535;412.34738...
31693  324.0754076086956;498.3245304157132;670.616973...
31694  77.7574422842238;178.50582538957832;212.208189...
31695  50.23828887615653;133.68543945009066;327.47151...
31696  31.08724832214765;52.6572310956188;85.44983906...
31697  271.30784270208585;382.6156726415837;603.44165...
31698  43.310435147392596;181.95453952536303;259.1165...
31699  142.56706133940946;246.15810070323926;324.4141...
31700  62.2161731944813;121.5226442345841;267.3342959...

[31701 rows x 1 columns]>

In [14]:
col_selection=['O_DATA','O_LINENO','O_TERMINALNO','predHour','pred_start_stop_ID','pred_end_stop_ID']
pre_data2=predict.loc[:,col_selection]

In [15]:
forest_result=pre_data2.join(data_time)
xx=forest_result[forest_result['O_DATA']=='10-28']

In [16]:
xxy=xx[xx['O_LINENO']==912]
xxy.pred_timeStamps.loc[3]

'134.19233154110748;262.8169346256128;490.50765283822886;596.0979979158648;752.6658123223549;822.2218866085461;881.2455462284432;967.9500169819075;1112.6218158448232;1204.5130900910328;1265.921901303749;1399.86344064064;1658.915070025505;1750.1568057197867;1825.134084434063;2027.176570707833;2188.1034339213693;2407.309911534817;2638.74041549865;2776.2352151752525;2854.2449087683576;2997.623822267185;3228.8217306471233;3438.776237719789'

In [17]:
forest_result.to_csv('Data/result_dtree_new.csv',index=None)